*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    margin: 0;
}

.Navbar{
    display: flex;
    width: full;
    background-color:#fef5ef;
    height: 80px;
}

.companylogo{
    font-family: fantasy;
    width: 18%;
    padding: 0;
    height: 50px;
    font-weight: 500;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 15px;
}

.navicons{
    width: 42%;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    padding-left: 20px;
}

.navicons ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 30px;
}

.link-text{
    font-size: 14px;
    color: #24262b;
}

.wishcartsearchicon{
    width: 40%;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    display: flex;
    align-items: center;
}

.wishcartsearchicon ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    padding-left: 20px;
    margin: 0;
    width: 40%;
}
.wishcartsearchicon ul li {
    display: inline;
    margin-right: 15%; 
}
.icon-styling-faAngleDown{
    font-size: 14px;
}
.icon-styling{
    color: #24262b;
    font-size: 18px;
}
/* SlidingBox.css......................................................................... */
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    z-index: 1000; /* Ensure it's on top */
  }
/* ................................................................................................   */

.search-bar{
    width: 60%;
    height: 30px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: rgb(225, 225, 225);

}
.search-prod{
    width: 90%;
    height: 30px;
    border-width: 0px;
    padding-left: 9px;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(235, 235, 235);
}
.search-icon{
    width: 10%;
    height: 30px;
    margin-left: -2px;
    font-size: 15px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
input:focus {
    outline: none;
}
.suggestions-list{
    width: 28%;
    height: 50px;
    position: absolute;
    top: 42px;
    font-size: 18px;
    font-weight: 500;
}
.suggestion-item{
    height: 40px;
    background-color: rgb(235, 235, 235);
    padding-left: 10px;
}
.suggestion-item:hover{
    cursor: pointer;
    background-color: rgb(215, 215, 215);
}