*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    margin: 0;
}

.Navbar{
    display: flex;
    width: full;
    background-color:#fef5ef;
    height: 80px;
}

.companylogo{
    font-family: fantasy;
    width: 15%;
    padding: 0;
    height: 50px;
    font-weight: 500;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 15px;
}

.navicons{
    width: 65%;
    height: 50px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 800;
    padding-left: 80px;
}
.wishcartsearchicon{
    width: 15%;
    height: 50px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 800;
}

.navicons ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.navicons ul li {
    display: inline;
    margin-right: 7%; 
}
.link-text{
    font-size: 14px;
    color: #24262b;
}


.wishcartsearchicon ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.wishcartsearchicon ul li {
    display: inline;
    margin-right: 15%; 
}
.icon-styling-faAngleDown{
    font-size: 14px;
}
.icon-styling{
    color: #24262b;
    font-size: 18px;
}
