*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.master-footer{
    height: 87vh;
    width: 100%;
    background-color: #24262B;
}
.details-div{
    height: 54%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.details{
    margin-top: 5%;
    height: 70%;
    width: 80%;
    display: flex;
}
.details-inside{
    width: 25%;
    height: 100%;
}
.details-inside h5{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 23px;   
}
.details-inside h5 div{
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    width: 50px;
    height: 2px;
    background-color: #B19361;
}
.details-inside li{
    font-size: 14px;
    color: #9B9B97;
    list-style-type: none;
    margin-bottom: 12px;
    line-height: 1.5;
}
.follow-subscribe{
    color: #FFFFFF;
    margin-top: 4%;
    width: 100%;
    
}
.follow-subscribe-div{
    display: flex;
    width: 80%;
    margin-left: 10%;
}
.follow{
    width: 20%;
}
.follow h5{
    font-size: 18px;
    margin-bottom: 27px;
}
.follow p{
    letter-spacing: 0.5rem;
    width: 120px;
    border-radius: 9px;
    background-color: rgb(45, 45, 247);
    padding-left: 5px;
    display: flex;
}
.subscribe{
    width: 55%;
}
.subscribe h5{
    font-size: 18px;
    margin-bottom: 27px;
}
.subscribe input{
    background-color: #24262B;
    width: 70%;
    height: 48px;
    margin-right: -4px;
    border: 2px solid #9b9b97;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 14px 10px 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    transition: all .5s ease;
}
.subscribe button{
    width: 20%;
    background: #b19361;
    color: #fff;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-weight: 400;
    letter-spacing: .5px;
    transition: all .5s ease;
    overflow: visible;
    border: 2px solid #9b9b97;
    border-radius: 5px;
}
.copyright-visa{
    width: 100%;
}
.copyright-visa-div{
    width: 70%;
    margin-left: 10%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}
.copyright{
    color: #777777;
    font-size: 14px;
}
.visa{
    color: #777777;
    font-size: 16px;
}