*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.landing{
    width: 100%;
    min-height: 100vh;  
}
.homepage{
    background-image: url("https://res.cloudinary.com/dhrugutmv/image/upload/v1718448519/ecommerce/images/hero-slider/home-1/hero-slider-1_vqr99h.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}
.textcenter{
    position: absolute;
    top: 67%;
    left: 10%;
    transform: translateY(-50%);
}
.textcenter h4{
    
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #24262b;
}
.textcenter h2{
    font-size: 58px;
    font-family: "Open Sans", sans-serif;
    font-weight: 550;
}
.textcenter button{
    margin-top: 40px;
    width: 130px;
    height: 44px;
    padding: 10px 25px 10px 25px;
    border: 1px solid #24262b;
    border-radius: 4px;
    font-weight: bold;
    background-color: #fef5ef ;
    cursor: pointer;
}



/* code for services offered by company */

.services{
    width: 86%;
    display: flex;
    height: 340px;
    margin-left: 7%;
    align-items: center;
    justify-content: space-between;

}
.services-sub{
    height: 245px;
    width: 260px;
    position: relative;    
    display: flex;
    justify-content: center;
    text-align: center;
}
.services-sub h6{
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    font-size: 16px;
    font-weight: 600;
}
.services-sub p{
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 60%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    visibility: visible;
    color: #777;
}


/* items/products displayed */

.items{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    height: 385px;
    display: flex;
    
}
.items-leftdiv{
    width: 45%;
    height: 100%;
    margin-right: 15px;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448498/ecommerce/images/banner/banner-style-1-img-1_i3a9tx.jpg');
    background-size: cover;
    background-position: center;    
    position: relative;
}

.content-left{
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: 30%;
    left: 35%;
    width: 60%;
}

.content-left h4{
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 11px;
    letter-spacing: .12em;
}
.content-left h5{
    font-size: 16px;
    margin-bottom: 30px;
    color: #777777;
    font-weight: 200;
    letter-spacing: .12em;

}
.content-left button{
    padding: 12px 15px;
    border: 1px solid #24262b;;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: .12em;
}


.items-rightdiv{
    width: 55%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;   

}

.items-rightdiv-top{
    height: 50%;
    display: flex;
    gap: 30px;
}
.r-div1{
    height: 100%;
    width: 50%;
    /* background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448500/ecommerce/images/banner/banner-style-2-img-1_c31a7t.jpg'); */
    background-size: cover;
    background-position: center;
}
.r-div2{
    height: 100%;
    width: 50%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448500/ecommerce/images/banner/banner-style-2-img-2_chrq6g.jpg');
    background-size: cover;
    background-position: center;
    
}
.items-rightdiv-bottom{
    height: 50%;
    display: flex;
    gap: 30px;
}
.r-div3{
    height: 100%;
    width: 50%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448501/ecommerce/images/banner/banner-style-2-img-3_psifln.jpg');
    background-size: cover;
    background-position: center;
    
}
.r-div4{
    height: 100%;
    width: 50%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448501/ecommerce/images/banner/banner-style-2-img-4_mjrdre.jpg');
    background-size: cover;
    background-position: center;
   
}

.content{
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: 30%;
    left: 60%;
    width: 40%;

}
.title{
    font-size: 21px;
    margin-bottom: 18px;
    font-weight: 100;
    line-height: 1.2;
    color: #24262b;
    
}
.link-text{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}



/* The new arrival  .......................................................................................*/


.The-new-arrival{
    margin-left: 9%;
    font-family: "Open Sans", sans-serif;
    margin-top: 80px;
    margin-bottom: 60px;
}
.The-new-arrival h3{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 7px;
}
.The-new-arrival p{
    margin-top: 0;
    margin-bottom: 16px;
    display: block;
    
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.56;
    color: #777;
}

/* display image and price of new arrived items */


.display-new-arrival-div{
    height: 870px;
    width: 100%;
    display: flex;
}
.startdiv-arrival{
    height: 100%;
    width: 9%;
}
.enddiv-arrival{
    height: 100%;
    width: 9%;
}
.display-new-arrival{
    height: 100%;
    width: 82%;
    display: flex;
    flex-direction: column;
}
.display-new-arrival-top{
    width: 100%;
    display: flex;
    gap: 20px;
    height: 50%;
}
.display-new-arrival-bottom{
    width: 100%;
    display: flex;
    gap: 20px;
    height: 50%;
}
.newproducts{
    height: 100%;
    width: 25%;
}

.sale-tag{
    font-family: "Open Sans", sans-serif;  
    position: absolute;
    border: 1px solid transparent;
    background-color: #b19361;
    height: 20px;
    width: 45px;
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 8px;
    color: white;
    display: flex;
    align-items: center;
}
.new-detail-div{
    padding-top: 25px;
    font-family: "Open Sans", sans-serif;    
}

.new-detail-div a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    color: #24262b;
}
.rating{
    display: flex;
    justify-content: space-between;
    padding-top: 14px;   
    
}
.rating span{
    font-size: 10px;
    font-weight: 500;
    color: rgb(115, 115, 115);
}
.filled-icon{
    margin-right: 5px;
}
.empty-icons{
    opacity: 0.5;
}
.price-tag{
    display: inline;
    font-size: 14px;
    font-weight: 100;
    color: #777777;
}

.newimg-div1{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448550/ecommerce/images/product/default/home-1/default-2_xbx8ug.jpg');
    background-position: center;
    background-size: cover;

}
.newimg-div2{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448551/ecommerce/images/product/default/home-1/default-3_ozxnq5.jpg');
    background-position: center;
    background-size: cover;

}
.newimg-div3{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448552/ecommerce/images/product/default/home-1/default-5_tkuhet.jpg');
    background-position: center;
    background-size: cover;

}
.newimg-div4{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448553/ecommerce/images/product/default/home-1/default-7_c2a9rc.jpg');
    background-position: center;
    background-size: cover;
}
.newimg-div5{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448552/ecommerce/images/product/default/home-1/default-5_tkuhet.jpg');
    background-position: center;
    background-size: cover;
}
.newimg-div6{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448553/ecommerce/images/product/default/home-1/default-6_trxrxk.jpg');
    background-position: center;
    background-size: cover;
}
.newimg-div7{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448551/ecommerce/images/product/default/home-1/default-3_ozxnq5.jpg');
    background-position: center;
    background-size: cover;
}
.newimg-div8{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448552/ecommerce/images/product/default/home-1/default-4_uddr4u.jpg');
    background-position: center;
    background-size: cover;
}


/* modern-furniture-collection */

.modern-furniture-collection{    
    font-family: "Open Sans", sans-serif;
    width: 56%;
    margin-left: 22%;
    height: 514px;
    margin-top: 80px;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448502/ecommerce/images/banner/banner-style-3-img-1_snhlfc.jpg');
    background-position: center;
    background-size: cover;
}

.modern-content{
    width: 50%;
    height: 70%;
    position: relative;
    top: 25%;
    left: 45%;
}
.modern-furniture-collection h3{
    font-size: 48px;
    color:#24262b;
    font-weight: 300;
    margin-bottom: 10px;
}
.modern-furniture-collection h5{
    font-size: 16px;
    color:#777777;
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: .09em;
}

.discover-button{
    padding: 15px 33px;
    border: 1px solid #24262b;
    border-radius: 6px;
    font-weight: 700;
    text-decoration: none;    
}

/* best seller............................................................................... */

.master-best-seller-div{
    height: 700px;
    width: 100%;
    margin-top: 100px;
    background-color: #f6f6f6;
}
.The-best-seller{
    margin-left: 9%;
    font-family: "Open Sans", sans-serif;
    padding-top: 100px;
    margin-bottom: 60px;
}
.The-best-seller h3{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 7px;
}
.The-best-seller p{
    margin-top: 0;
    margin-bottom: 16px;
    display: block;    
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.56;
    color: #777;
}

.best-seller-div{
    height: 400px;
    width: 100%;
    display: flex;
}
.best-seller-products{
    height: 400px;
    width: 80%;
    display: flex;
    gap: 30px;
}
.best-seller-img{
    height: 100%;
    width: 23%;
}
.best-seller-prod-startdiv{
    height: 100%;
    width: 10%;
}
.best-seller-prod-enddiv{
    height: 100%;
    width: 10%;
}

.best-seller-div1{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448554/ecommerce/images/product/default/home-1/default-9_jimsmt.jpg');
    background-position: center;
    background-size: cover;
}
.best-seller-div2{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448548/ecommerce/images/product/default/home-1/default-11_okansx.jpg');
    background-position: center;
    background-size: cover;
}
.best-seller-div3{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448552/ecommerce/images/product/default/home-1/default-5_tkuhet.jpg');
    background-position: center;
    background-size: cover;
}
.best-seller-div4{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448553/ecommerce/images/product/default/home-1/default-6_trxrxk.jpg');
    background-position: center;
    background-size: cover;
}


/* product categories........................................................... */

.product-categories{
    height: 500px;
    width: 100%;
    display: flex;
}
.prod-cat-img-1{
    height: 100%;
    width: 25%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448502/ecommerce/images/banner/banner-style-4-img-1_wpbip0.jpg');
    background-position: center;
    background-size: cover;
}
.prod-cat-img-2{
    height: 100%;
    width: 25%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448502/ecommerce/images/banner/banner-style-4-img-2_paffmp.jpg');
    background-position: center;
    background-size: cover;
}
.prod-cat-img-3{
    height: 100%;
    width: 25%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448503/ecommerce/images/banner/banner-style-4-img-3_wvvw0n.jpg');
    background-position: center;
    background-size: cover;
}
.prod-cat-img-4{
    height: 100%;
    width: 25%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448503/ecommerce/images/banner/banner-style-4-img-4_kptbu5.jpg');
    background-position: center;
    background-size: cover;
}
.prod-cat-content{
    font-family: "Open Sans", sans-serif;
    color: #24262b;  
    margin-top: 40px;
    margin-left: 20px;
}
.link-text{
    text-decoration: none;
}
.prod-cat-content h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 7px;
}
.prod-cat-content h6{
    font-size: 14px;
    color: #777777;
    font-weight: 100;
    letter-spacing: 0.12em;
}



/* the latest blogs ................................................................................ */


.master-the-latest-blog{
    height: 700px;
    width: 100%;
    margin-top: 100px;
    background-color: #f6f6f6;
}
.the-latest-blog{
    margin-left: 8%;
    font-family: "Open Sans", sans-serif;
    padding-top: 100px;
    margin-bottom: 40px;
}
.the-latest-blog h3{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 7px;
}
.the-latest-blog p{
    margin-top: 0;
    margin-bottom: 16px;
    display: block;    
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.56;
    color: #777;
}

.latest-blog-div{
    height: 400px;
    width: 100%;
    display: flex;
}
.latest-blog-posts{
    height: 400px;
    width: 84%;
    display: flex;
    gap: 30px;
}
.latest-blog-img{
    height: 100%;
    width: 33%;
}

.new-detail-div{
    padding-top: 25px;
    font-family: "Open Sans", sans-serif;    
}

.rating{
    padding-top: 14px;   
    display: block;
    
}
.blog-para{
    font-size: 14px;
    font-weight: 100;
    color: #777777;
    letter-spacing: 0.04rem;
    margin-bottom: 10px;
    line-height: 1.8;
}
.rating h4{
    font-size: 14px;
    font-weight: 700;
    color: #4a4a4a;
}
.latest-blog-posts-startdiv{
    height: 100%;
    width: 8%;
}
.latest-blog-posts-enddiv{
    height: 100%;
    width: 7%;
}

.latest-blog-div1{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448511/ecommerce/images/blog/blog-grid-home-1-img-1_msnng2.jpg');
    background-position: center;
    background-size: cover;
}
.latest-blog-div2{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448511/ecommerce/images/blog/blog-grid-home-1-img-2_jilnp7.jpg');
    background-position: center;
    background-size: cover;
}
.latest-blog-div3{
    width: 100%;
    height: 70%;
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448512/ecommerce/images/blog/blog-grid-home-1-img-3_wt71rn.jpg');
    background-position: center;
    background-size: cover;
}


/* honotemplate.................................................................................... */

.masterhonotemplate{
    height: 400px;
    width: 100%;
    margin-top: 100px;
    background-color: #f6f6f6;
}
.honotemplate-images{
    height: 200px;
    width: 86%;
    display: flex;
    position: relative;
    top: 25%;
    left: 9%;
}
.honotemplate{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #24262b;
    background: #fff;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    top: 40%;
    left: 40%;
    letter-spacing: 0.07rem;
}
.hono-images1{
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448541/ecommerce/images/instagram/instagram-1_qc4bd4.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 16%;
}
.hono-images2{
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448541/ecommerce/images/instagram/instagram-2_yqeqyk.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 16%;
}
.hono-images3{
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448542/ecommerce/images/instagram/instagram-3_ce42di.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 16%;
}
.hono-images4{
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448544/ecommerce/images/instagram/instagram-4_tyxpsk.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 16%;
}
.hono-images5{
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448545/ecommerce/images/instagram/instagram-5_azxzna.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 16%;
}
.hono-images6{
    background-image: url('https://res.cloudinary.com/dhrugutmv/image/upload/v1718448545/ecommerce/images/instagram/instagram-6_pwlgs5.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 16%;
}